* {
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

.div_head  p{
    position: absolute;
    left: 20%;
    top: 5%;
    color: black;
    line-height: 80px;
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.index_div a,
.div_head a{
    margin-left: -110px;
    text-decoration: none;
    /*position: relative;*/
    display: inline-block;
    width: 220px;
    height: 80px;
    color: rgb(255, 255, 255);
    line-height: 80px;
    font-size: 35px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(39, 122, 218), rgb(74, 230, 121), rgb(201, 214, 13), rgb(226, 20, 233), rgb(16, 172, 219));
    background-size: 400%;
    z-index: 1;
    text-shadow: 0 0 5px white,
    0 0 5px white;
}

.index_div a
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
}
.div_head a{
    position: absolute;
    left: 50%;
    top: 5%;
}

.index_div a:hover,
.div_head a:hover{
    animation: move 5s linear alternate infinite;
}

@keyframes move {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.index_div a::before,
.div_head a::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 240px;
    height: 100px;
    background: linear-gradient(90deg, rgb(39, 122, 218), rgb(74, 230, 121), rgb(243, 169, 10), rgb(226, 20, 233), rgb(16, 172, 219));
    background-size: 400%;
    opacity: 0;
    z-index: -1;
    border-radius: 45px;
    transition: 0.6s;
}

.index_div a:hover::before,
.div_head a:hover::before{
    filter: blur(15px);
    opacity: 1;
    animation: move 8s linear alternate infinite;
}