body {
    background: url("../img/index_background.jpg") fixed no-repeat;
    background-size: 100% 100%;
}

.index_div h1{
    font-size: 60px;
    font-family: 楷体;
    color: cornflowerblue;
    text-shadow: 0 0 5px white, 0 0 5px white;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 15%;
}




