.div_problem{
    margin-top: 150px;
    margin-left: 20%;
    width: 60%;
}

.problem{
    background-color: darkseagreen ;
    border-radius: 25px;
    height: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}

.div_problem p{
    line-height: 40px;
    padding: 0 15px;
    /*letter-spacing: 2px;*/
}

.div_problem img{
    width: 50%;
    horiz-align: center;
}

.problem_question{
    font-size: 25px;

}
.problem_where{
    font-size: 10px;
}
.problem_solve{
    font-size: 15px;
}